.bigbox{
    border: 1px solid rgb(0, 0, 0);
    background-color:rgba(0, 0, 0);
    height: 606px;
    width: 606px;
    color: white;
    font-size: 25px;
    align-items: flex-end;
    flex-direction: column;
    display: flex;
    
}
.smallbox1{
    border: 1px solid rgb(0, 0, 0);
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.smallbox2{
    border: 1px solid rgb(0, 0, 0);
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallbox3{
    border: 1px solid rgb(0, 0, 0);
    width: 200px;
    height: 200px;
    background-color: rgb(26, 169, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}




